<!-- views/buttons.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" type="text/css" href="/css/styleResult.css">
</head>

<body>
    <div class="band">
        <h1>The end!</h1>
    </div>

    <div class="result">

        <div class="resultGame ">
            <% if(boolResult){ %>
                <h2>Well done !</h2>
                <% } else { %>
                    <h2> Wrong !</h2>
                    <p> The game was: <%=goodGame %>
                    </p>
                    <% } %>

                    <h3>Your final score is <%=score %>!</h3>
        </div>

        <div class="buttonsResult">
            <form action="/" method="get">
                <br>
                <br>
                <br>
                <input type="submit" value="Go back to main!">
            </form>
            <br>

            <form action="<%=goToSteam %>">
                <input type="submit" value="Check the game on Steam">
            </form>
        </div>
    </div>
</body>

</html>