<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="css/styleSettings.css">
</head>

<header>
    <div class="menu-toggle" onclick="toggleMenu()"><img src="/images/menu.png" alt="Accueil"></div>
    <nav id="menu">
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="about">À propos</a></li>
            <li><a href="https://github.com/Khopylium/SteamReviewsGuessr">Code</a></li>
            <li><a href="settings">Paramètres</a></li>
        </ul>
    </nav>
</header>

<body>
    <div class="container">
    <form action="/" method="post">
    <!--label for="review_language">Langue des reviews:</label>
    <input type="radio" id="french" name="review_language" value="french"><label for="french">Français</label><br>
    <input type="radio" id="english" name="review_language" value="english" checked><label for="english">English</label><br-->
    <label for="questions">Nombre de questions (10-100):</label>
    <input type="number" id="questions" name="questions_number" min="10" max="100" value="10" /><br>
    <button type="submit">Save</button>
    <br>
    
</form>
<br>
<button id="runPythonScript">Mettre à jour la liste de jeux</button>
</div>
<footer>
    <p class="copyright">VAILLANT Jules & SIMONE Gregory</p>
</footer>

<script>
    document.getElementById('runPythonScript').addEventListener('click', function() {
        fetch('/runPythonScript')
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error('Erreur lors de l\'exécution du script Python.');
                }
            })
            .then(message => {
                alert(message); // ou utilisez une autre méthode pour afficher le message sur la page
            })
            .catch(error => {
                alert('Une erreur s\'est produite lors de l\'exécution du script Python.');
            });
    });

    function toggleMenu() {
            var menu = document.getElementById("menu");
            if (menu.style.display === "block") {
                menu.style.opacity = 0; 
                setTimeout(() => { menu.style.display = "none"; }, 300); 
            } else {
                menu.style.display = "block";
                setTimeout(() => { menu.style.opacity = 1; }, 10); 
            }
        }
    </script>
    
    
</body>